@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Gluten:wght@900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

body {
  background-color: rgb(17, 38, 59);
}

.navbar-dark .navbar-brand {
  font-family: "Gluten", !important;
  color: rgb(78, 116, 126);
  font-weight: 900;
  font-size: 2em;
  text-shadow:1px 1px 5px black;
}

.cart-items {
  height: 300px;
  overflow: scroll;
}

.grey-box {
  float: left;
  margin: 2px;
  width: 200px;
  height: 200px;
}

#cart-thumb img {
  height: 100px;
}

.logout {
  margin: 0 20px;
  font-size: 25px;
  color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;

  #add-button {
    margin: 0 auto;
    text-align: center;
  }

  #form-container {
    width: 60%;
    margin: auto;
    justify-content: center;
    color: rgb(255, 255, 255);

    #formModal {
      color: black;
    }
  }

  #store {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: auto;
    justify-content: center;

    .card {
      font-family: "Concert One";
      background-color: rgb(25, 27, 31);
      width: 300px;
      margin: 5px;
      color: rgb(179, 203, 232) ;

      .sale-badge {
        font-size: 1em;
        text-shadow: 0 0 1px rgb(124, 187, 218);
        color: rgb(35, 51, 82);
        background-color: rgb(76, 130, 154);
      }
    }

    .table {
      margin: 10px;
      width: 80%;
      margin: 0 auto;
    }
  }
}

#view {
  width: 25%;
  margin: auto;
  
  .card {
    font-family:"Concert One" ;
    background-color: rgb(80, 105, 106);
    color: rgb(0, 0, 0);
  }
  .btn {
    margin: auto;
  }
  .details {
    font-family:"Concert One" ;
    text-shadow: 0 0 1px rgb(124, 187, 218);
    color: rgb(35, 51, 82);
    min-width: 50%;
    max-width: 60%;
  }

  .description {
    white-space: pre-wrap;
  }
}
